<%= render 'layouts/com_nav' %>

<div class="container">
	<div class="row">
        <div class="col-lg-6">
            <h2>Your Projects</h2>
        </div>

        <div class="col-lg-6 text-right">
        	<%= link_to "Create New Project", new_project_path, class: "btn btn-primary"%>
        </div>
    </div>

    <div class="row">
    	<% @projects.each do |project| %>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Title : <%= project.title%></h5>
                    <p class="card-text"><strong>Description:</strong> <%= project.description %></p>
                    <p class="card-text"><strong>Category:</strong> <%= project.category %></p>
                    <p class="card-text"><strong>Timeframe:</strong> <%= project.timeframe %></p>
                </div>

                <div class="card-body">
                    <p class="card-test">Progress</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 40%">40%</div>
                    </div>
                </div>

                <div class="card-body">
                    <a href="#" class="card-link btn btn-primary">View Project</a>
                </div>
            </div>
        </div>
        <% end %>
    </div>

</div>