<div class="container">
    <h1>Create a Project Proposal</h1>
    <%= form_for @project do |f| %>
        <div class="form-inline">
            <label class="mr-sm-2">Project Title:</label>
            <%= f.text_field :title, class: "form-control mb-2 mr-sm-2", :required => true %>
        </div>
        <div class="form-inline">
            <label class="mr-sm-2">Description:</label>
            <%= f.text_area :description, class: "form-control mb-2 mr-sm-2", :required => true %>
        </div>
        <div class="form-inline">
            <label class="mr-sm-2">Category:</label>
            <%= f.text_field :category, class: "form-control mb-2 mr-sm-2", :required => true %>
        </div>
        <div class="form-inline">
            <label class="mr-sm-2">Timeframe:</label>
            <%= f.text_field :timeframe, class: "form-control mb-2 mr-sm-2", :required => true %>
        </div>
        <div class="form-inline">
            <label class="mr-sm-2">Attachments:</label>
            <%= f.file_field :file, class: "mb-2 mr-sm-2", :required => true %>
        </div>
        <%= f.submit class: "btn btn-success" %>
    <% end %>
</div>